<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Anti-Pest Solutions",
  "image": "{{ "img/logo.jpg" | absURL }}",
  "url": "{{ .Site.BaseURL }}",
  "telephone": "+61425209149",
  "email": "mail@antipestsolutions.com.au",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "1 Currawong Crescent",
    "addressLocality": "Bowen Mountain",
    "addressRegion": "NSW",
    "postalCode": "2753",
    "addressCountry": "AU"
  },
  "areaServed": "Hawkesbury Region, NSW",
  "sameAs": [
    "https://www.facebook.com/AntiPestSolutions1/"
  ]
}
</script>
